@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
}

.App {
  background-color: #fffbf0;
}

.card {
  min-width: 70%;
  margin-top: 1rem;
  border: none;
  background-color: #fffbf0;
}

.hotel_name {
  text-align: center;
  margin: 1rem;
  font-size: 1.2rem;
  color: #943d24;
  font-weight: bold;
}

.city_name {
  text-align: center;
  font-size: 1rem;
}

.desc {
  font-size: 0.8rem;
  font-family: 'Pacifico', cursive;
}

.heading_text {
  font-family: 'Pacifico', cursive;
  margin-left: 5%;
  font-size: 24px;
}

.img_container {
  width: 100%;
}

.img_container img {
  width: 100%;
  pointer-events: none;
}

.button {
  background-color: #943d24;
  border: none;
  color: white;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 5%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #6a210d;
  color: white;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}

.view_button {
  border: none;
  color: #943d24;
  text-align: center;
  text-decoration: none;
}

.inner-carousel {
  display: flex;
  gap: 5%;
}

.container-carousel {
  cursor: grab;
  overflow: hidden;
}

.main_card_container {
  margin: 0 5%;
}

.detail_container {
  margin: 0 5%;
}

.hotel_details {
  color: #943d24;
  margin-top: 0.3rem;
}

.detail_group {
  display: flex;
  flex-direction: column;
}

.preview_img {
  width: 70%;
  border: 1px solid #943d24;
  border-radius: 5px;
  margin: 0 5%;
}

.hotel_form,
.sign_in_form {
  margin: 0 7%;
  display: flex;
  flex-direction: column;
}

.name_label {
  width: 100%;
}

.create_button {
  background-color: #943d24;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 0%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.create_button:hover {
  background-color: #6a210d;
  color: white;
}

.room_details {
  display: flex;
  flex-direction: column;
}

.room_details span {
  font-size: small;
}

.hotel_details_container {
  display: flex;
  gap: 10px;
  margin: 5%;
  border-bottom: 2px solid #943d24;
}

.hotel_img_container {
  width: 50%;
}

.hotel_info_container {
  width: 50%;
}

.hotel_info_container p {
  font-size: small;
  color: #6a210d;
  font-weight: bold;
  font-style: italic;
}

.form-group {
  margin: 3% 0;
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 36%;
  }

  .heading_text {
    font-size: 38px;
  }

  .hotel_name {
    font-size: 2rem;
  }

  .city_name {
    font-size: 1.6rem;
  }

  .desc {
    font-size: 1.2rem;
  }

  .view_button {
    font-size: 1.4rem;
  }

  .img_cont_desk {
    width: 50%;
    margin: 0 25%;
  }

  .detail_group {
    margin-left: 25%;
    font-size: 18px;
  }

  .room_details span {
    font-size: 14px;
  }

  .form_cont_desk {
    margin: 0 25%;
  }

  .reserve_container {
    width: 70%;
    margin: 0 15%;
  }

  .hotel_form {
    width: 40%;
    margin: 0 25%;
  }

  h1 {
    text-align: center;
    margin-top: 5%;
  }

  .name_label {
    font-size: 24px;
  }

  .form-control {
    font-size: 24px;
  }

  .create_button,
  .btn {
    font-size: 24px;
  }

  .sign_in_form {
    width: 40%;
    margin: 0 30%;
  }

  .hotel_info_container p {
    font-size: 18px;
  }
}
